<a href="https://colab.research.google.com/github/francesco-scomazzon/CapstoneProject/blob/main/WorldNuclearPowerReactors.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Data scraping**

In [2]:
import pandas as pd
from bs4 import BeautifulSoup
import requests

link = "https://world-nuclear.org/information-library/facts-and-figures/world-nuclear-power-reactors-and-uranium-requireme"

request = requests.get(link)
soup = BeautifulSoup(request.text, "html.parser")

In [3]:
old_table_header = []
for th in soup.select('thead td'):
    text = th.get_text(strip=True)
    if text:
        old_table_header.append(text)

table_header = []
table_header.append(old_table_header[0].split("(")[0].strip())
table_header.append(old_table_header[1] + " (TWh)")
table_header.append(old_table_header[1] + " (% e)")
table_header.append(old_table_header[2] + " (No.)")
table_header.append(old_table_header[2] + " (MWe net)")
table_header.append(old_table_header[3] + " (No.)")
table_header.append(old_table_header[3] + " (MWe gross)")
table_header.append(old_table_header[4] + " (No.)")
table_header.append(old_table_header[4] + " (MWe gross)")
table_header.append(old_table_header[5] + " (No.)")
table_header.append(old_table_header[5] + " (MWe gross)")
table_header.append(old_table_header[6] + " (tonnes U)")

print(table_header)

['COUNTRY', 'NUCLEAR ELECTRICITY GENERATION 2022 (TWh)', 'NUCLEAR ELECTRICITY GENERATION 2022 (% e)', 'REACTORS OPERABLE (No.)', 'REACTORS OPERABLE (MWe net)', 'REACTORS UNDER CONSTRUCTION (No.)', 'REACTORS UNDER CONSTRUCTION (MWe gross)', 'REACTORS PLANNED (No.)', 'REACTORS PLANNED (MWe gross)', 'REACTORS PROPOSED (No.)', 'REACTORS PROPOSED (MWe gross)', 'URANIUM REQUIRED 2024 (tonnes U)']

In [4]:
table_rows = []
for tr in soup.select('tbody tr'):
    row = []
    # Extracting the country name
    th = tr.find('th')
    if th:
        country_name = th.get_text(strip=True)
        row.append(country_name)

    # Extracting the other data cells
    for td in tr.find_all('td'):
        text = td.get_text(strip=True)
        if text:
            row.append(text)
    if row:
        table_rows.append(row)

print(table_rows)

[['Argentina', '7.5', '5.4', '3', '1641', '1', '29', '1', '1150', '1', '750', '219'], ['Armenia', '2.6', '31.0', '1', '416', '0', '0', '0', '0', '1', '1060', '55'], ['Bangladesh', '0', '0', '0', '0', '2', '2400', '0', '0', '2', '2400', '371'], ['Belarus', '4.4', '11.9', '2', '2220', '0', '0', '0', '0', '0', '0', '357'], ['Belgium', '41.7', '46.4', '5', '3916', '0', '0', '0', '0', '0', '0', '516'], ['Brazil', '13.7', '2.5', '2', '1884', '1', '1405', '0', '0', '8', '8000', '339'], ['Bulgaria', '15.8', '32.6', '2', '2006', '0', '0', '2', '2300', '0', '0', '334'], ['Canada', '81.7', '12.9', '19', '13,661', '0', '0', '2', '400', '9', '5700', '1455'], ['China', '395.4', '5.0', '56', '54,362', '26', '29,755', '41', '44,660', '158', '186,450', '13,132'], ['Czech Republic', '29.3', '36.7', '6', '4212', '0', '0', '1', '1200', '3', '3600', '715'], ['Egypt', '0', '0', '0', '0', '4', '4800', '0', '0', '0', '0', '0'], ['Finland', '24.2', '35.0', '5', '4369', '0', '0', '0', '0', '0', '0', '616'], ['France', '282.1', '62.5', '56', '61,370', '1', '1650', '0', '0', '6', '9900', '8232'], ['Germany', '31.9', '5.8', '0', '0', '0', '0', '0', '0', '0', '0', '0'], ['Hungary', '15.0', '47.0', '4', '1916', '0', '0', '2', '2400', '0', '0', '320'], ['India', '42.0', '3.1', '23', '7425', '7', '5900', '12', '8400', '28', '32,000', '1725'], ['Iran', '6.0', '1.7', '1', '915', '1', '1057', '2', '1417', '6', '5200', '153'], ['Japan†', '51.9', '6.1', '33', '31,679', '2', '2756', '1', '1385', '8', '11,562', '2180'], ['Kazakhstan', '0', '0', '0', '0', '0', '0', '0', '0', '1', '1200', '0'], ['Korea RO (South)', '167.5', '30.4', '26', '25,825', '2', '2680', '2', '2800', '0', '0', '4309'], ['Mexico', '10.5', '4.5', '2', '1552', '0', '0', '0', '0', '2', '2000', '237'], ['Netherlands', '3.9', '3.3', '1', '482', '0', '0', '0', '0', '2', '2000', '69'], ['Pakistan', '22.2', '16.2', '6', '3262', '0', '0', '1', '1170', '0', '0', '555'], ['Poland', '0', '0', '0', '0', '0', '0', '3', '3750', '26', '10,000', '0'], ['Romania', '10.2', '19.4', '2', '1300', '0', '0', '2', '1440', '6', '462', '185'], ['Russia', '209.5', '19.6', '36', '26,802', '4', '3988', '14', '8930', '36', '37,716', '5436'], ['Saudi Arabia', '0', '0', '0', '0', '0', '0', '0', '0', '2', '2900', '0'], ['Slovakia', '14.8', '59.2', '5', '2308', '1', '471', '0', '0', '1', '1200', '527'], ['Slovenia', '5.3', '42.6', '1', '688', '0', '0', '0', '0', '1', '1200', '127'], ['South Africa', '10.1', '4.9', '2', '1854', '0', '0', '0', '0', '2', '2400', '277'], ['Spain', '56.0', '20.3', '7', '7123', '0', '0', '0', '0', '0', '0', '1218'], ['Sweden', '50.0', '29.4', '6', '6944', '0', '0', '2', '2500', '0', '0', '932'], ['Switzerland', '23.2', '36.4', '4', '2973', '0', '0', '0', '0', '0', '0', '412'], ['Turkey', '0', '0', '0', '0', '4', '4800', '0', '0', '8', '9600', '882'], ['Ukraine†\xa0‡', '58.7', '-', '15', '13,107', '2', '1900', '2', '2500', '7', '8750', '1673'], ['UAE', '19.3', '6.8', '4', '5348', '0', '0', '0', '0', '2', '2800', '853'], ['United Kingdom', '43.5', '14.2', '9', '5883', '2', '3440', '2', '3340', '2', '2300', '817'], ['USA', '772.2', '18.2', '94', '96,952', '0', '0', '0', '0', '13', '10,500', '18,137'], ['Uzbekistan', '0', '0', '0', '0', '0', '0', '0', '0', '2', '2400', '0']]

In [5]:
df = pd.DataFrame(table_rows, columns=table_header)

df

,COUNTRY,NUCLEAR ELECTRICITY GENERATION 2022 (TWh),NUCLEAR ELECTRICITY GENERATION 2022 (% e),REACTORS OPERABLE (No.),REACTORS OPERABLE (MWe net),REACTORS UNDER CONSTRUCTION (No.),REACTORS UNDER CONSTRUCTION (MWe gross),REACTORS PLANNED (No.),REACTORS PLANNED (MWe gross),REACTORS PROPOSED (No.),REACTORS PROPOSED (MWe gross),URANIUM REQUIRED 2024 (tonnes U)
0,Argentina,7.5,5.4,3,1641,1,29,1,1150,1,750,219
1,Armenia,2.6,31.0,1,416,0,0,0,0,1,1060,55
2,Bangladesh,0,0,0,0,2,2400,0,0,2,2400,371
3,Belarus,4.4,11.9,2,2220,0,0,0,0,0,0,357
4,Belgium,41.7,46.4,5,3916,0,0,0,0,0,0,516
5,Brazil,13.7,2.5,2,1884,1,1405,0,0,8,8000,339
6,Bulgaria,15.8,32.6,2,2006,0,0,2,2300,0,0,334
7,Canada,81.7,12.9,19,"13,661",0,0,2,400,9,5700,1455
8,China,395.4,5.0,56,"54,362",26,"29,755",41,"44,660",158,"186,450","13,132"
9,Czech Republic,29.3,36.7,6,4212,0,0,1,1200,3,3600,715
10,Egypt,0,0,0,0,4,4800,0,0,0,0,0
11,Finland,24.2,35.0,5,4369,0,0,0,0,0,0,616
12,France,282.1,62.5,56,"61,370",1,1650,0,0,6,9900,8232
13,Germany,31.9,5.8,0,0,0,0,0,0,0,0,0
14,Hungary,15.0,47.0,4,1916,0,0,2,2400,0,0,320
15,India,42.0,3.1,23,7425,7,5900,12,8400,28,"32,000",1725
16,Iran,6.0,1.7,1,915,1,1057,2,1417,6,5200,153
17,Japan†,51.9,6.1,33,"31,679",2,2756,1,1385,8,"11,562",2180
18,Kazakhstan,0,0,0,0,0,0,0,0,1,1200,0
19,Korea RO (South),167.5,30.4,26,"25,825",2,2680,2,2800,0,0,4309
20,Mexico,10.5,4.5,2,1552,0,0,0,0,2,2000,237
21,Netherlands,3.9,3.3,1,482,0,0,0,0,2,2000,69
22,Pakistan,22.2,16.2,6,3262,0,0,1,1170,0,0,555
23,Poland,0,0,0,0,0,0,3,3750,26,"10,000",0
24,Romania,10.2,19.4,2,1300,0,0,2,1440,6,462,185
25,Russia,209.5,19.6,36,"26,802",4,3988,14,8930,36,"37,716",5436
26,Saudi Arabia,0,0,0,0,0,0,0,0,2,2900,0
27,Slovakia,14.8,59.2,5,2308,1,471,0,0,1,1200,527
28,Slovenia,5.3,42.6,1,688,0,0,0,0,1,1200,127
29,South Africa,10.1,4.9,2,1854,0,0,0,0,2,2400,277
30,Spain,56.0,20.3,7,7123,0,0,0,0,0,0,1218
31,Sweden,50.0,29.4,6,6944,0,0,2,2500,0,0,932
32,Switzerland,23.2,36.4,4,2973,0,0,0,0,0,0,412
33,Turkey,0,0,0,0,4,4800,0,0,8,9600,882
34,Ukraine† ‡,58.7,-,15,"13,107",2,1900,2,2500,7,8750,1673
35,UAE,19.3,6.8,4,5348,0,0,0,0,2,2800,853
36,United Kingdom,43.5,14.2,9,5883,2,3440,2,3340,2,2300,817
37,USA,772.2,18.2,94,"96,952",0,0,0,0,13,"10,500","18,137"
38,Uzbekistan,0,0,0,0,0,0,0,0,2,2400,0

**Data cleaning**

In [6]:
def clean_column_header(header):
    words = header.split()
    cleaned_words = [word.capitalize() if idx == 0 else word.lower() for idx, word in enumerate(words)]
    return " ".join(cleaned_words)

df = df.rename(columns=lambda x: clean_column_header(x))
df

,Country,Nuclear electricity generation 2022 (twh),Nuclear electricity generation 2022 (% e),Reactors operable (no.),Reactors operable (mwe net),Reactors under construction (no.),Reactors under construction (mwe gross),Reactors planned (no.),Reactors planned (mwe gross),Reactors proposed (no.),Reactors proposed (mwe gross),Uranium required 2024 (tonnes u)
0,Argentina,7.5,5.4,3,1641,1,29,1,1150,1,750,219
1,Armenia,2.6,31.0,1,416,0,0,0,0,1,1060,55
2,Bangladesh,0,0,0,0,2,2400,0,0,2,2400,371
3,Belarus,4.4,11.9,2,2220,0,0,0,0,0,0,357
4,Belgium,41.7,46.4,5,3916,0,0,0,0,0,0,516
5,Brazil,13.7,2.5,2,1884,1,1405,0,0,8,8000,339
6,Bulgaria,15.8,32.6,2,2006,0,0,2,2300,0,0,334
7,Canada,81.7,12.9,19,"13,661",0,0,2,400,9,5700,1455
8,China,395.4,5.0,56,"54,362",26,"29,755",41,"44,660",158,"186,450","13,132"
9,Czech Republic,29.3,36.7,6,4212,0,0,1,1200,3,3600,715
10,Egypt,0,0,0,0,4,4800,0,0,0,0,0
11,Finland,24.2,35.0,5,4369,0,0,0,0,0,0,616
12,France,282.1,62.5,56,"61,370",1,1650,0,0,6,9900,8232
13,Germany,31.9,5.8,0,0,0,0,0,0,0,0,0
14,Hungary,15.0,47.0,4,1916,0,0,2,2400,0,0,320
15,India,42.0,3.1,23,7425,7,5900,12,8400,28,"32,000",1725
16,Iran,6.0,1.7,1,915,1,1057,2,1417,6,5200,153
17,Japan†,51.9,6.1,33,"31,679",2,2756,1,1385,8,"11,562",2180
18,Kazakhstan,0,0,0,0,0,0,0,0,1,1200,0
19,Korea RO (South),167.5,30.4,26,"25,825",2,2680,2,2800,0,0,4309
20,Mexico,10.5,4.5,2,1552,0,0,0,0,2,2000,237
21,Netherlands,3.9,3.3,1,482,0,0,0,0,2,2000,69
22,Pakistan,22.2,16.2,6,3262,0,0,1,1170,0,0,555
23,Poland,0,0,0,0,0,0,3,3750,26,"10,000",0
24,Romania,10.2,19.4,2,1300,0,0,2,1440,6,462,185
25,Russia,209.5,19.6,36,"26,802",4,3988,14,8930,36,"37,716",5436
26,Saudi Arabia,0,0,0,0,0,0,0,0,2,2900,0
27,Slovakia,14.8,59.2,5,2308,1,471,0,0,1,1200,527
28,Slovenia,5.3,42.6,1,688,0,0,0,0,1,1200,127
29,South Africa,10.1,4.9,2,1854,0,0,0,0,2,2400,277
30,Spain,56.0,20.3,7,7123,0,0,0,0,0,0,1218
31,Sweden,50.0,29.4,6,6944,0,0,2,2500,0,0,932
32,Switzerland,23.2,36.4,4,2973,0,0,0,0,0,0,412
33,Turkey,0,0,0,0,4,4800,0,0,8,9600,882
34,Ukraine† ‡,58.7,-,15,"13,107",2,1900,2,2500,7,8750,1673
35,UAE,19.3,6.8,4,5348,0,0,0,0,2,2800,853
36,United Kingdom,43.5,14.2,9,5883,2,3440,2,3340,2,2300,817
37,USA,772.2,18.2,94,"96,952",0,0,0,0,13,"10,500","18,137"
38,Uzbekistan,0,0,0,0,0,0,0,0,2,2400,0

**Merge per filtrare solo i paesi in Europa**

In [7]:
Country = [
    "Albania", "Andorra", "Armenia", "Austria", "Azerbaijan", "Belgium", "Bosnia and Herzegovina",
    "Bulgaria", "Croatia", "Cyprus", "Czech Republic", "Denmark", "Estonia", "Finland",
    "France", "Georgia", "Germany", "Greece", "Hungary", "Iceland", "Ireland", "Italy",
    "Latvia", "Liechtenstein", "Lithuania", "Luxembourg", "Malta", "Moldova", "Monaco",
    "Montenegro", "Netherlands", "North Macedonia", "Norway", "Poland", "Portugal",
    "Romania", "San Marino", "Serbia", "Slovakia", "Slovenia", "Spain", "Sweden", "Switzerland",
    "Turkey", "Ukraine", "United Kingdom"
]

Country_df = pd.DataFrame(Country, columns=["Country"])

european_nuclear_df = df.merge(Country_df, how="inner", on="Country")
european_nuclear_df

,Country,Nuclear electricity generation 2022 (twh),Nuclear electricity generation 2022 (% e),Reactors operable (no.),Reactors operable (mwe net),Reactors under construction (no.),Reactors under construction (mwe gross),Reactors planned (no.),Reactors planned (mwe gross),Reactors proposed (no.),Reactors proposed (mwe gross),Uranium required 2024 (tonnes u)
0,Armenia,2.6,31.0,1,416,0,0,0,0,1,1060,55
1,Belgium,41.7,46.4,5,3916,0,0,0,0,0,0,516
2,Bulgaria,15.8,32.6,2,2006,0,0,2,2300,0,0,334
3,Czech Republic,29.3,36.7,6,4212,0,0,1,1200,3,3600,715
4,Finland,24.2,35.0,5,4369,0,0,0,0,0,0,616
5,France,282.1,62.5,56,"61,370",1,1650,0,0,6,9900,8232
6,Germany,31.9,5.8,0,0,0,0,0,0,0,0,0
7,Hungary,15.0,47.0,4,1916,0,0,2,2400,0,0,320
8,Netherlands,3.9,3.3,1,482,0,0,0,0,2,2000,69
9,Poland,0,0,0,0,0,0,3,3750,26,"10,000",0
10,Romania,10.2,19.4,2,1300,0,0,2,1440,6,462,185
11,Slovakia,14.8,59.2,5,2308,1,471,0,0,1,1200,527
12,Slovenia,5.3,42.6,1,688,0,0,0,0,1,1200,127
13,Spain,56.0,20.3,7,7123,0,0,0,0,0,0,1218
14,Sweden,50.0,29.4,6,6944,0,0,2,2500,0,0,932
15,Switzerland,23.2,36.4,4,2973,0,0,0,0,0,0,412
16,Turkey,0,0,0,0,4,4800,0,0,8,9600,882
17,United Kingdom,43.5,14.2,9,5883,2,3440,2,3340,2,2300,817

Esportare il DataFrame da Google Colab in formato csv

In [8]:
european_nuclear_df.to_csv("EuropeanNuclearPowerReactors.csv", index=False)

from google.colab import files

files.download("EuropeanNuclearPowerReactors.csv")